<link rel="stylesheet" href="~/css/Dodavanje/DodajUplata.css" />
@model WebApplication1.Models.VM.UplataDodajVM
@{
    ViewData["Title"] = "DodajNovu";
}

<h1>Dodaj uplatu</h1>
<center>
    <form asp-controller="Uplate" asp-action="SnimiNovu">
        <table>
            <tr>
                <td><label>Svrha</label></td>
                <td><input type="text" asp-for="Svrha" />
                <span asp-validation-for="Svrha" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label>Iznos</label></td>
                <td>
                    <input type="text" asp-for="Iznos" />
                    <span asp-validation-for="Iznos" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label>Datum uplate</label></td>
                <td>
                    <input type="datetime-local" asp-for="Datum_Uplate" />
                    <span asp-validation-for="Datum_Uplate" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label>Ovjereno</label></td>
                <td>
                    <select asp-for="Ovjereno">
                        <option>---Odaberite---</option>
                        <option disabled="disabled">---------------</option>
                        <option value="DA">DA</option>
                        <option value="NE">NE</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Polaznik</label></td>
                <td>
                    <select asp-for="PolaznikID">
                        <option>---Odaberite---</option>
                        <option disabled="disabled">---------------</option>
                        @foreach (var x in Model.polaznici)
                        {
                            <option value="@x.Value">@x.Text</option>
                        }
                    </select>

                </td>
            </tr>
            <tr>
                <td><label>Evidentirao</label></td>
                <td>
                    <select asp-for="AdministracijaID">
                        <option>---Odaberite---</option>
                        <option disabled="disabled">---------------</option>
                        @foreach (var x in Model.administratori)
                        {
                            <option value="@x.Value">@x.Text</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
        <br />
        <button id="go" class="btn btn-primary" value="SnimiNovu" type="submit">Snimi</button>
        <a id="back" class="btn btn-default" href="/Uplate/PrikaziUplate">Nazad</a>
    </form>
</center>

