<link rel="stylesheet" href="~/css/PocetnaStranica.css" />
<h1 style="font-size:5vw;" align="center">Početna stranica</h1>

<div id="prvi_red">
    <div id="prvi">
        <a style="font-size:1.5vw;" href="/Profesori/Prikaz">Profesori</a>
    </div>
    <div id="drugi">
        <a style="font-size:1.5vw; position:relative; left:-40%;" href="/Administracija/Prikaz">Administracija</a>
    </div>
    <div id="treci">
        <a style="font-size:1.5vw;" href="/Polaznici/Prikaz">Polaznici</a>
    </div>
</div>
<div id="drugi_red">
    <div id="prvi_drugi">
        <a style="font-size:1.5vw;" href="/Testovi/Testovi">Testovi</a>
    </div>
    <div id="drugi_drugi">
        <a style="font-size:1.5vw;" href="/Kursevi/Kursevi">Kursevi</a>
    </div>
    <div id="treci_drugi">
        <a style="font-size:1.5vw;" href="/Uplate/PrikaziUplate">Uplate</a>
    </div>
</div>