@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="margin-top:10%; font-weight:bold;">Ups...</h1>


<h3>
    Poštovani, došlo je do greške, molimo kontaktirajte našu sužbu.<br/><br/>Hvala na razumijevanju</h3>