@using Microsoft.AspNetCore.Http
@{ 
//string username = Context.Session.GetString("Key");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="width:100%;">
                    <li><a style="color:white; font-family:Consolas; font-weight:bold; font-size:270%;" class="btn btn-lg" asp-area="" asp-controller="Home" asp-action="About" title="Početna stranica">IT Academy       |</a></li>
                    <li><a style="color:white;" class="btn btn-lg" asp-area="" asp-controller="Profesori" asp-action="Prikaz">Profesori</a></li>
                    <li><a style="color:white;" class="btn btn-lg" asp-area="" asp-controller="Administracija" asp-action="Prikaz">Administracija</a></li>
                    <li><a style="color:white;" class="btn btn-lg" asp-area="" asp-controller="Polaznici" asp-action="Prikaz">Polaznici</a></li>
                    <li><a style="color:white;" class="btn btn-lg" asp-area="" asp-controller="Testovi" asp-action="Prikaz">Testovi</a></li>
                    <li><a style="color:white;" class="btn btn-lg" asp-area="" asp-controller="Kursevi" asp-action="PrikaziKurseve">Kursevi</a></li>
                    <li><a style="color:white;" class="btn btn-lg" asp-area="" asp-controller="Uplate" asp-action="PrikaziUplate">Uplate</a></li>
                    <li>......................................</li>
                    @*<li><a>dobro došli, @username</a></li>*@
                    <li><a style="color:white;" class="btn btn-danger" asp-controller="KorisnickiNalog" asp-action="Logout">Logout</a></li>
                </ul>
        </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <center>
                <p>&copy; IT Academy 2019</p>
            </center>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="/content/public/scripts/main.min.js?v=1.1" type="application/javascript"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
