@using Microsoft.AspNetCore.Http
@{ 
//string username = Context.Session.GetString("Key");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <script src="https://maps.googleapis.com/maps/api/js?"></script>

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>
    @*<script src="~/lib/signalr.js/jquery.signalR.js"></script>*@

    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Chat.js"></script>


    @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>*@

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
            <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
            <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>*@
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
            <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
            <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>*@
    </environment>


    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="width:100%;">
                    <li><a style="color:white; font-family:Consolas; font-weight:bold; font-size:270%;" class="btn btn-lg" asp-area="" asp-controller="Home" asp-action="About" title="Početna stranica">IT Academy       |</a></li>
                    <li><a style="color:white;" class="btn btn-lg" asp-area="" asp-controller="Profesori" asp-action="Prikaz">Profesori</a></li>
                    <li><a style="color:white;" class="btn btn-lg" asp-area="" asp-controller="Administracija" asp-action="Prikaz">Administracija</a></li>
                    <li><a style="color:white;" class="btn btn-lg" asp-area="" asp-controller="Polaznici" asp-action="Prikaz">Polaznici</a></li>
                    <li><a style="color:white;" class="btn btn-lg" asp-area="" asp-controller="Testovi" asp-action="Testovi">Testovi</a></li>
                    <li><a style="color:white;" class="btn btn-lg" asp-area="" asp-controller="Kursevi" asp-action="Kursevi">Kursevi</a></li>
                    <li><a style="color:white;" class="btn btn-lg" asp-area="" asp-controller="Uplate" asp-action="PrikaziUplate">Uplate</a></li>
                    <li>......................................</li>
                    @*<li><a>dobro došli, @username</a></li>*@
                    <li><a style="color:white;" class="btn btn-danger" asp-controller="KorisnickiNalog" asp-action="Logout">Logout</a></li>
                </ul>
        </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <center>
                <input type="button" value="Find Us" class="btn btn-default" onclick="DisplayGoogleMap()" />
            </center>
            <div id="myDiv" style="width:100%;height:400px;"></div>
            <script type="text/javascript">
                function DisplayGoogleMap() {


                    var myAddress = new google.maps.LatLng(43.850740, 18.367590);


                    var mapOptions = {
                        center: myAddress,
                        zoom: 15,
                        minZoom: 15,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };


                    var map = new google.maps.Map(document.getElementById("myDiv"), mapOptions);


                    var marker = new google.maps.Marker({
                        position: myAddress,
                        animation: google.maps.Animation.BOUNCE,
                    });

                    marker.setMap(map);
                }
            </script>
            @*<center>
            <p>&copy; IT Academy 2019</p>
        </center>*@




            @*<div class="container">
            <input type="text" id="message" />
            <input type="button" id="sendmessage" value="Send" />
            <input type="hidden" id="displayname" />
            <ul id="discussion"></ul>
        </div>
        <!--Script references. -->
        <!--Reference the jQuery library. -->

        <script src="~/lib/signalr.js/jquery.signalR.js"></script>
        <!--Reference the autogenerated SignalR hub script. -->
        <script src="signalr/hubs"></script>
        <!--Add script to update the page and send messages.-->
        <script type="text/javascript">
            $(function () {
                // Declare a proxy to reference the hub.
                var chat = $.connection.chatHub;
                // Create a function that the hub can call to broadcast messages.
                chat.client.broadcastMessage = function (name, message) {
                    // Html encode display name and message.
                    var encodedName = $('<div />').text(name).html();
                    var encodedMsg = $('<div />').text(message).html();
                    // Add the message to the page.
                    $('#discussion').append('<li><strong>' + encodedName
                        + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
                };
                // Get the user name and store it to prepend to messages.
                $('#displayname').val(prompt('Enter your name:', ''));
                // Set initial focus to message input box.
                $('#message').focus();
                // Start the connection.
                $.connection.hub.start().done(function () {
                    $('#sendmessage').click(function () {
                        // Call the Send method on the hub.
                        chat.server.send($('#displayname').val(), $('#message').val());
                        // Clear text box and reset focus for next comment.
                        $('#message').val('').focus();
                    });
                });
            });
        </script>*@
            <hr />

            <div class=" chatWindow">

                <div class="row">&nbsp;</div>
                <div class="row">
                    <p style="font-family:jdFontAwesome; font-size:25px">Chat with us!</p>
                    <div class="col-2" style="font-family:jdFontAwesome; font-size:20px">User</div>
                    <div class="col-4"><input type="text" id="userInput" /></div>
                </div>
                <div class="row">
                    <div class="col-2" style="font-family:jdFontAwesome; font-size:20px">Message</div>
                    <div class="col-4"><input type="text" id="messageInput" /></div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-6">
                        <input type="button" class="btn btn-default" id="sendButton" value="Send Message" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <ul id="messagesList"></ul>
                    </div>
                </div>

            </div>
            @*<div class="row">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <ul id="messagesList"></ul>
                </div>
            </div>*@
            <script>
                                                                //var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();
                                                                //console.log(connection);

                                                                ////Disable send button until connection is established
                                                                //document.getElementById("sendButton").disabled = true;

                                                                //connection.on("ReceiveMessage", function (user, message) {
                                                                //    console.log("poruka primljena", user, message);
                                                                //    var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
                                                                //    var encodedMsg = user + " says " + msg;
                                                                //    var li = document.createElement("li");
                                                                //    li.textContent = encodedMsg;
                                                                //    document.getElementById("messagesList").appendChild(li);
                                                                //});

                                                                //connection.start().then(function () {
                                                                //    document.getElementById("sendButton").disabled = false;
                                                                //}).catch(function (err) {
                                                                //    return console.error(err.toString());
                                                                //});

                                                                //document.getElementById("sendButton").addEventListener("click", function (event) {
                                                                //    var user = document.getElementById("userInput").value;
                                                                //    var message = document.getElementById("messageInput").value;
                                                                //    connection.invoke("SendMessage", user, message).catch(function (err) {
                                                                //        return console.error(err.toString());
                                                                //    });
                                                                //    event.preventDefault();
                                                                //});
            </script>
            <script src="~/js/signalr/dist/browser/signalr.js"></script>
            @*<script src="~/lib/signalr.js/jquery.signalR.js"></script>*@
            <script src="~/js/Chat.js"></script>
            <center>
                <p>&copy; IT Academy 2019</p>
            </center>










        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    </environment>
    <environment exclude="Development">
        
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="/content/public/scripts/main.min.js?v=1.1" type="application/javascript"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
